.timelineContentBox{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.25rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.timelineContentImage{
    height: 12rem;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.timelineContentText{
    color: #4b5563;
    text-align: justify;
}