.timelineContentBox{
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.25rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.timelineContentImage{
    height: 12rem;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.timelineContentText{
    color: #4b5563;
    text-align: justify;
}

.timelineContentHeader{
    color: #1f2937;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.timelineContentCompanyName{
    color: #2563eb;
    font-weight: 600;
    font-size: large;
    margin: 0;
}
.timelineContentDuration{
    color: #4b5563;
    font-size: medium;
    margin: 0;
    margin-bottom: 0.5rem;
}

.timelineExperienceDetail{
    color: #4b5563 ;
    list-style-type: disc;
    list-style-position: outside;
    text-align: justify;
}