// about page styles start

.sweImage {
    width: 16rem;
    height: 16rem;

    @media (min-width: 768px) {
        width: 24rem;
        height: 24rem;
    }
}

.sweText {
    color: #4b5563;
    padding-bottom: 1rem;
    margin: 0;
    line-height: 1.25rem;
    word-spacing: 0.1rem;
}

.sweIcon {
    color: #2664eb;
    background-color: #dbeafe;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3rem;
}

//about page styles end

//skills page styles start

.boxStyle {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.bgColorGrey{
    background-color: #f2f3f5;
}
// skills page styles start

.bgColorExperience{
    background-color: #ffffff;
    max-width: 100vw;
}

.eduIcon{
    color: #2664eb;
    background-color: #dbeafe;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4rem;
}

.eduWrapperBox{
    --edu-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    box-shadow: 0 0 #0000, 0 0 #0000, var(--edu-shadow);
    border-radius: 0.5rem;
    background-color: white;
}

.eduInstitute{
    background-color: #2664eb;
    padding: 1.5rem;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.eduInstituteIcon{
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.eduInstituteImg{
    height: 3rem;
    width: 3rem;
    border-radius: 1.5rem;
    object-fit: contain;
}

.eduInstituteHeading{
    font-weight: 700;
}

.eduInstituteDuration{
    color: #bfdbfe;
    margin: 0;
}

.eduDetailWrapper{
    padding: 1.5rem;
}

.eduDetailDegree{
    font-weight: 700;
    font-size: larger;
}

.eduDetailDegreeSmallBold{
    font-size: small;
    padding: 0.5rem;
    padding-inline: 1rem;
    font-weight: 600;
}

.greenBG{
    background-color: #dcfce7;
    color: #166534;
    border-radius: 4rem;
}

.blueBG{
    background-color: #dbeafe;
    color: #2664eb;
    border-radius: 4rem;
}

.eduInstituteCourse{
    margin: 0px;
    font-size: small;
    color: #4b5563;
}

.eduKeyCourcesHead{
    font-weight: 600;
}
